*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: inherit;
}
