@import 'styles/variables';

/* Global Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: var(--font-size);
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.subtitle {
    font-family: var(--font-heading);
}

h1,
.title {
    font-size: clamp(2.5rem, 2.5vw, 4rem);
    font-weight: 800;
}

h2,
.subtitle {
    font-size: clamp(2rem, 2vw, 3rem);
    font-weight: 800;
}

.highlight {
    font-family: var(--font-highlight);
    font-size: clamp(6rem, 8vw, 12rem);
    font-style: italic;
    font-weight: 100;
    color: var(--base-50);
}

body,
.text,
.text-bold {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
}

.text-muted {
    font-size: var(--font-size-sm);
    color: var(--muted-foreground);
}

.text-serif {
    font-family: var(--font-highlight);
    font-weight: 100;
}

.text-bold,
.bold {
    font-weight: bold;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
}
