@import 'styles/variables';

/* Global Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;

    height: 100%;
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: #333;
    background-color: #fff;

    height: 100%;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
