.layout {
    --layout-sidebar-width: 250px;

    display: grid;
    grid-template-columns: var(--layout-sidebar-width) 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    width: 100%;

    &__header {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        background-color: var(--primary);
    }

    &__sidebar {
        grid-column: 1 / 2;
        grid-row: 2 / -1;

        background: var(--white);
    }

    &__content {
        grid-column: 2 / -1;
        grid-row: 2 / -1;

        position: relative;
        background: var(--base-50);
    }
}
