.layout {
    --layout-sidebar-width: 250px;

    display: grid;
    grid-template-columns: var(--layout-sidebar-width) 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    width: 100%;

    &__header {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        background-color: var(--primary);
        color: var(--primary-foreground);
    }

    &__sidebar {
        grid-column: 1 / 2;
        grid-row: 2 / -1;

        background: var(--white);
        box-shadow: 0 0 1rem color-mix(in oklab, var(--black) 10%, transparent);
    }

    &__content {
        grid-column: 2 / -1;
        grid-row: 2 / -1;
        z-index: -1;
        position: relative;
        background: var(--base-50);

        overflow-y: auto;
        overflow-x: hidden;

        padding-inline-start: 1.5rem;
        padding-inline-end: 1rem;
        padding-block-start: 1.5rem;
        padding-block-end: 1rem;
    }
}

main {
    width: 100%;
    height: 100%;
    background-color: var(--white);

    border-radius: var(--radius);
    box-shadow: 0 0 1rem color-mix(in oklab, var(--black) 10%, transparent);
}
