:host {
    --header-height: 4rem; /* 64px */
    --sidebar-width: 16rem; /* 256px */

    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
    height: 100vh;
}

nav {
    grid-column: 1/2;
    grid-row: 2/3;
}

header {
    grid-column: 1/3;
    grid-row: 1/2;
}

main {
    grid-column: 2/3;
    grid-row: 2/3;
}
