<app-page-form (rChange)="refreshTable()" #form></app-page-form>

<p-button (onClick)="form.openNew()">
    <i class="pi pi-plus"></i>
    Add
</p-button>

<p-table [value]="pages()">
    <ng-template #header>
        <tr>
            <th>Title</th>
            <th>Slug</th>
            <th>Description</th>
            <th>Status</th>
            <th><!-- ACTIONS --></th>
        </tr>
    </ng-template>
    <ng-template #body let-page>
        <tr>
            <td>{{ page.title }}</td>
            <td>{{ page.slug }}</td>
            <td>{{ page.seo_description }}</td>
            <td>
                <p-tag [severity]="getPageStatusSeverity(page.status)">{{ page.status }}</p-tag>
            </td>
            <td>
                <span>
                    <p-button icon="pi pi-pencil" text (click)="form.openEdit(page?.slug)"></p-button>
                    <p-button icon="pi pi-trash" text (onClick)="form.deleteRequest(page?.id)"></p-button>
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>
