:root {
    --font-body: Gabarito, sans-serif;
    --font-heading: var(--font-body);
    --font-highlight: 'Cormorant Garamond', serif;

    /* Base Colors */
    --base-50: #f2f2f2;
    --base-100: #e6e6e6;
    --base-200: #c0c0c0;
    --base-300: #a6a6a6;
    --base-400: #8d8d8d;
    --base-500: #737373;
    --base-600: #5a5a5a;
    --base-700: #404040;
    --base-800: #262626;
    --base-900: #1a1a1a;
    --base-950: #0d0d0d;

    /* Primary Colors */
    --primary-50: #fbeade;
    --primary-100: #f8d3bb;
    --primary-200: #f4bd99;
    --primary-300: #f0a776;
    --primary-400: #ed9154;
    --primary-500: #e97b31;
    --primary-600: #c6692a;
    --primary-700: #a35622;
    --primary-800: #80441b;
    --primary-900: #5d3114;

    /* Secondary Colors */
    --secondary-50: #d6f1fb;
    --secondary-100: #abe2f8;
    --secondary-200: #80d3f4;
    --secondary-300: #55c4f0;
    --secondary-400: #2bb6ed;
    --secondary-500: #00a7e9;
    --secondary-600: #008ec6;
    --secondary-700: #0075a3;
    --secondary-800: #005c80;
    --secondary-900: #00435d;

    /* Default Colors */
    --white: #ffffff;
    --black: #000000;
    --background: var(--white);
    --foreground: var(--black);
    --card: var(--white);
    --card-foreground: var(--black);
    --popover: var(--white);
    --popover-foreground: var(--black);
    --primary: var(--primary-400);
    --primary-foreground: var(--black);
    --secondary: var(--secondary-400, var(--color-primary));
    --secondary-foreground: var(--black);
    --muted: var(--base-100);
    --muted-foreground: var(--base-500);
    --destructive: #bb2124;
    --border: var(--base-100);
    --input: var(--white);
    --ring: var(--primary-500);

    /* Sizing */
    --radius: 0.25rem;
    --radius-sm: calc(var(--radius) - 2px);
    --radius-md: calc(var(--radius));
    --radius-lg: calc(var(--radius) + 4px);
    --radius-xl: calc(var(--radius) + 8px);
    --font-size: clamp(1rem, 1vw, 1.125rem);
    --font-size-body: var(--font-size);
    --font-size-xs: calc(var(--font-size) * 0.75);
    --font-size-sm: calc(var(--font-size) * 0.875);
    --font-size-md: var(--font-size-body);
    --font-size-lg: calc(var(--font-size) * 1.25);
    --font-size-xl: calc(var(--font-size) * 1.5);
    --font-size-xxl: calc(var(--font-size) * 1.75);
    --line-height-base: 1.5;
    --line-height-sm: 1.25;
    --line-height-lg: 2;
}
