<div class="auth-layout">
    <p-card class="auth-card">
        <header class="auth-card__header">
            <div class="auth-card__brand-icon">
                <i class="pi pi-shield auth-card__icon"></i>
            </div>
            <h1 class="auth-card__title">Backoffice Control</h1>
            <p class="auth-card__subtitle">Secure Administrative Access</p>
        </header>

        <form
            class="auth-card__form"
            (submit)="onSubmit()"
            [formGroup]="loginForm"
        >
            <div class="auth-card__field">
                <label for="username" class="auth-card__label">E-mail</label>
                <span class="auth-card__input-container">
                    <input
                        pInputText
                        id="username"
                        class="auth-card__input"
                        formControlName="email"
                    />
                </span>
            </div>

            <div class="auth-card__field">
                <label for="password" class="auth-card__label">Password</label>
                <p-password
                    id="password"
                    [toggleMask]="true"
                    [feedback]="false"
                    class="auth-card__password-host"
                    inputStyleClass="auth-card__input"
                    formControlName="password"
                >
                </p-password>
            </div>

            <!-- <div class="auth-card__options">
                <p-checkbox
                    label="Keep session active"
                    [binary]="true"
                    inputId="keep-session"
                    class="auth-card__checkbox"
                >
                </p-checkbox>
                <label class="auth-card__checkbox-label" for="keep-session">
                    Keep session active
                </label>
            </div> -->

            <p-button
                label="Enter System"
                icon="pi pi-sign-in"
                class="auth-card__button"
                type="submit"
            >
            </p-button>
        </form>

        <footer class="auth-card__footer">
            <p class="auth-card__disclaimer">
                Unauthorized access is strictly prohibited and monitored.
            </p>
        </footer>
    </p-card>
</div>
